.project-container {
  margin: auto;
  width: 75rem;
  background-color: var(--white);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.project-img-container {
  width: 40%;
  object-fit: cover;
}
.project-details {
  color: var(--grey);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  padding: 1rem;
  margin-left: 1rem;
}
.project-details-top {
  position: relative;
  color: var(--black);
}
.bookmark-icon {
  color: var(--grey);
  position: absolute;
  top: 0;
  right: 0;
}
.project-title {
  font-size: 1.75rem;
}
.project-uniname {
  font-size: 1.125rem;
}
.project-desc {
  font-size: 0.975rem;
  margin-bottom: 1rem;
}
.project-stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.project-stack {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  height: 1.8rem;
  border-radius: 1rem;
  border: 1px solid rgb(166, 192, 231);
  color: var(--black);
  background: #d0e3ff;
}
.project-details-bottom {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: var(--bluish-black);
  font-size: 0.9rem;
}
