@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --black: #292d32;
  --bluish-black: #576778;
  --grey: #606471;
  --grey-hover: #6064712a;
  --grey-light: #f5f5f5;
  --white: #fff;
  --accent: #3f68f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--grey-light);
  color: var(--black);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
input,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#app {
  display: flex;
  flex: 1;
  height: 100vh;
}
#pages {
  flex: 1;
  overflow-y: scroll;
}
.link {
  text-decoration: underline;
}

.dot {
  height: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--bluish-black);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 3px;
}

::-webkit-scrollbar-button {
  background-color: var(--grey-light);
  border-radius: 3px;
}
