
.search-container {
  margin: 2.75rem auto;
  margin-bottom: 2.75rem;
  max-width: 75rem;
  height: 6.5rem;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.filters {
  width: 300px;
  height: 2.75rem;
  justify-content: space-around;
  padding: 4px;
  
}
.personalised,
.following {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.filter-selected {
  color: var(--white);
  background-color: var(--accent);
  border-radius: 12px;
}
.search-right {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-bar,
.filters {
  background-color: var(--grey-light);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 16px;
  height: 48px;
}
.search-bar {
  padding: 0.625rem;
  width: 85%;
}
.search-bar > input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
}
.filter-ico,
.search-ico {
  color: var(--grey);
}
